API_PORT=3001

POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

S3_USER=rustfsadmin
S3_PASSWORD=rustfsadmin
S3_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
S3_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

S3_PORT=9000
S3_ENDPOINT=localhost
S3_NAME=medias

BETTER_AUTH_SECRET=secret
WEB_ORIGINS=http://localhost:3000,http://localhost:3002